
<section id="recommended" class="inner" data-aos="fade">
  <div class="under_ttl_wrap">
    <h3 class="ttl">あなたにおすすめ</h3>
  <p class="ttl_top">RECOMMEND FOR YOU</p>
</div>
<div class="recommend_wrap" data-simplebar data-simplebar-auto-hide="false">

<ul class="recommend_list">
  {% assign names = product.title %}
  {% assign limit = 5 %}
  {% assign displayed_count = 0 %}
  {% assign has_related_products = false %}

  {% for collection in product.collections %}
    {% unless collection.title == 'すべて' %}
      {% assign sorted_products = collection.products | sort: 'best-selling' | reverse %}
      
      {% for displayed_product in sorted_products %}
        {% if displayed_count >= limit %}
          {% break %}
        {% endif %}
        
        {% unless displayed_product.title == names %}
          {% assign has_related_products = true %}
          {% assign displayed_count = displayed_count | plus: 1 %}

          <li>
            <a href="{{ displayed_product.url }}" class="item_link">
              <div class="img">
                <img src="{{ displayed_product.featured_image.src | img_url: 'master' }}" alt="">
              </div>
              <p class="cat">
                {% for tag in displayed_product.tags %}
                  {{ tag }}{% if forloop.last == false %}, {% endif %}
                {% endfor %}
              </p>
              <p class="product_name">{{ displayed_product.title }}</p>
              <p class="price">{{ displayed_product.price | money }}円(税込)</p>
            </a>
            <form action="/cart/add" method="post">
              <input type="hidden" name="id" value="{{ displayed_product.variants.first.id }}" />
              <button type="submit" class="cart_btn">
                <!-- SVG code -->
                <p>カートに入れる</p>
              </button>
            </form>
          </li>
        {% endunless %}
      {% endfor %}
      
      {% if displayed_count >= limit %}
        {% break %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% unless has_related_products %}
    <p>現在、関連商品はありません。</p>
  {% endunless %}
</ul>

  

</div>
</section>

{% schema %}
  {
    "name": "item-recommended",
    "presets": [
      {
        "name": "item-recommended"
      }
    ]
  }
{% endschema %}