
<div class="fv_wrappar">
  <div class="fv">
  </div>
  <div class="fv_img">
    <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/fv_img.png?v=1721700510" media="(min-width:600px)">
      <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/fv_img_sp.png" alt=""></picture>

    {% comment %} <a class="fv_link" href="#"><p>詳しく見る<span class="arrow">
      <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
        </svg>
    </span></p></a>
    <a class="fv_link" href="#"><p>詳しく見る<span class="arrow">
      <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
        </svg>
    </span></p></a> {% endcomment %}
  </div>
</div>
  <main>
    <section id="about_us" data-aos="fade">
      <div class="inner">
      <div class="ctn">
        <div class="ctt">
          <p class="ttl_top">ABOUT US</p>
          <h2 class="ttl">生産者の想いに寄り添った、<br>
            天然のこだわり</h2>
            <p>体にやさしい島の恵みを日本全国へ。<br>
              豊富な品物がある沖縄の中でも、素材と製法にこだわった特に良質な特産品だけを取り揃えました。<br>
              沖縄の大自然と豊かな食文化が生んだ本物の美味しさを自社オリジナル製品にして工場から直送でお届けします。</p>
            <div class="btn"><a href="/pages/about">詳しく見る<span class="arrow">
              <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                </svg>
            </span></a></div>
        </div>
        <div class="ctt_img">
          <div data-aos="fade-down"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_about_img1.png" alt=""></div>
          <div data-aos="fade-down" data-aos-delay="1000"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_about_img2.png" alt=""></div>
        </div>
      </div>
    </div>
      <div class="bg_img" data-aos="fade" data-aos-delay="200">
        <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_about_bg.png?v=1721700510" media="(min-width:600px)">
          <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_about_bg_sp.png" data-aos="fade" alt=""></picture>


      </div>
    </section>

    <section id="recommend">

      <div class="inner" data-aos="fade">
          <p class="ttl_top">RECOMMEND</p>
          <h2 class="ttl">おすすめランキング</h2>
          <div class="recommend_wrap" data-simplebar data-simplebar-auto-hide="false">
          <ul class="recommend_list">
            {% assign ranking = collections['all'] %}
            {% for product in ranking.products limit: 5 %}
            <li>
              <a href="{{ product.url }}" class="item_link">
              <div class="img">
              <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
            </div>
            <p class="cat">{% for tag in product.tags %}
            {{ tag }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}</p>
            <p class="product_name">{{ product.title }}</p>
            <p class="price">{{ product.price | money }}円(税込)</p>
          </a>
          <form action="/cart/add" method="post">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <button type="submit" class="cart_btn">
              <svg class="icon_svg" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.125 18.25C18.7217 18.25 19.294 18.4871 19.716 18.909C20.1379 19.331 20.375 19.9033 20.375 20.5C20.375 21.0967 20.1379 21.669 19.716 22.091C19.294 22.5129 18.7217 22.75 18.125 22.75C17.5283 22.75 16.956 22.5129 16.534 22.091C16.1121 21.669 15.875 21.0967 15.875 20.5C15.875 19.2512 16.8762 18.25 18.125 18.25ZM0.125 0.25H3.80375L4.86125 2.5H21.5C21.7984 2.5 22.0845 2.61853 22.2955 2.82951C22.5065 3.04048 22.625 3.32663 22.625 3.625C22.625 3.81625 22.5687 4.0075 22.49 4.1875L18.4625 11.4663C18.08 12.1525 17.3375 12.625 16.4938 12.625H8.1125L7.1 14.4588L7.06625 14.5938C7.06625 14.6683 7.09588 14.7399 7.14863 14.7926C7.20137 14.8454 7.27291 14.875 7.3475 14.875H20.375V17.125H6.875C6.27826 17.125 5.70597 16.8879 5.28401 16.466C4.86205 16.044 4.625 15.4717 4.625 14.875C4.625 14.4813 4.72625 14.11 4.895 13.795L6.425 11.0388L2.375 2.5H0.125V0.25ZM6.875 18.25C7.47174 18.25 8.04403 18.4871 8.46599 18.909C8.88795 19.331 9.125 19.9033 9.125 20.5C9.125 21.0967 8.88795 21.669 8.46599 22.091C8.04403 22.5129 7.47174 22.75 6.875 22.75C6.27826 22.75 5.70597 22.5129 5.28401 22.091C4.86205 21.669 4.625 21.0967 4.625 20.5C4.625 19.2512 5.62625 18.25 6.875 18.25ZM17 10.375L20.1275 4.75H5.9075L8.5625 10.375H17Z" fill="white"/>
                </svg>
              <p>カートに入れる</p>
            </button>
            </form>
            </li>
          {% endfor %}
          </ul>
        </div><!-- recommend_wrap -->
        </div>
        <div class="deco_img" data-aos="fade">
          <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_recom_img.jpg" media="(min-width:600px)">
            <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_recom_img_sp.jpg" alt=""></picture>
        </div>
    </section>

    {% comment %} <section id="pickup" class="inner" data-aos="fade">
          <p class="ttl_top">PICK UP</p>
          <h2 class="ttl">ピックアップ</h2>
          <div class="ctn">
            <a class="link" href="#"><img class="img_bg" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_pickup_link_bg1.jpg" alt="俺がとった天然太もずく">
            <img class="img_ctt" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_pickup_link1.png" alt="">
                  <div class="btn"><p>詳しく見る<span class="arrow">
                <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                  </svg>
              </span></p></div></a>
            <a class="link" href="#"><img class="img_bg" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_pickup_link_bg2.jpg" alt="私が育てたシークァーサー">
              <img class="img_ctt" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_pickup_link2.png" alt="">
              <div class="btn"><p>詳しく見る<span class="arrow">
                <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                  </svg>
              </span></p></div></a>
          </div>
      </section> {% endcomment %}

      <section class="category" data-aos="fade">
        <p class="ttl_top">CATEGORY</p>
        <h2 class="ttl">カテゴリ</h2>
        <div class="inner">
        <ul>
          <li><a href="/collections/mozuku"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_1.jpg" alt=""></div>太もずく</a></li>
          <li><a href="/collections/shikwasa"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_2.jpg" alt=""></div>大宜味産シークワーサー</a></li>
          <li><a href="/collections/set"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_3.jpg" alt=""></div>セット商品/その他</a></li>
        </ul>
        
        <div class="btn"><a href="/collections/all">全ての商品<span class="arrow">
          <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
            </svg>
        </span></a></div>
      </div>
    </section>
    <section id="faq" data-aos="fade">
        <div class="inner">
        <p class="ttl_top">FAQ</p>
        <h2 class="ttl">よくあるご質問</h2>
        <ul class="faq_list">
          <li><a href="/pages/faq#order">
            <svg class="icon_svg" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.16669 31.1667C9.16669 32.1391 9.553 33.0718 10.2406 33.7594C10.9283 34.447 11.8609 34.8333 12.8334 34.8333C13.8058 34.8333 14.7384 34.447 15.4261 33.7594C16.1137 33.0718 16.5 32.1391 16.5 31.1667C16.5 30.1942 16.1137 29.2616 15.4261 28.5739C14.7384 27.8863 13.8058 27.5 12.8334 27.5C11.8609 27.5 10.9283 27.8863 10.2406 28.5739C9.553 29.2616 9.16669 30.1942 9.16669 31.1667ZM27.5 31.1667C27.5 32.1391 27.8863 33.0718 28.574 33.7594C29.2616 34.447 30.1942 34.8333 31.1667 34.8333C32.1391 34.8333 33.0718 34.447 33.7594 33.7594C34.447 33.0718 34.8334 32.1391 34.8334 31.1667C34.8334 30.1942 34.447 29.2616 33.7594 28.5739C33.0718 27.8863 32.1391 27.5 31.1667 27.5C30.1942 27.5 29.2616 27.8863 28.574 28.5739C27.8863 29.2616 27.5 30.1942 27.5 31.1667Z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.16669 31.167H5.50002V23.8337M3.66669 9.16699H23.8334V31.167M16.5 31.167H27.5M34.8334 31.167H38.5V20.167M38.5 20.167H23.8334M38.5 20.167L33 11.0003H23.8334M5.50002 16.5003H12.8334"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            <p>注文・支払いについて<span class="arrow">
              <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                </svg>
            </span></p>
          </a></li>
          <li><a href="/pages/faq#delivery">
            <svg class="icon_svg" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.9556 20.125C24.9556 21.65 24.3713 23.1125 23.3313 24.1909C22.2913 25.2692 20.8807 25.875 19.4099 25.875C17.9391 25.875 16.5285 25.2692 15.4885 24.1909C14.4485 23.1125 13.8642 21.65 13.8642 20.125C13.8642 18.6 14.4485 17.1375 15.4885 16.0591C16.5285 14.9808 17.9391 14.375 19.4099 14.375C20.8807 14.375 22.2913 14.9808 23.3313 16.0591C24.3713 17.1375 24.9556 18.6 24.9556 20.125ZM22.1827 20.125C22.1827 19.3625 21.8906 18.6312 21.3706 18.0921C20.8506 17.5529 20.1453 17.25 19.4099 17.25C18.6745 17.25 17.9692 17.5529 17.4492 18.0921C16.9292 18.6312 16.637 19.3625 16.637 20.125C16.637 20.8875 16.9292 21.6188 17.4492 22.1579C17.9692 22.6971 18.6745 23 19.4099 23C20.1453 23 20.8506 22.6971 21.3706 22.1579C21.8906 21.6188 22.1827 20.8875 22.1827 20.125ZM2.77283 12.2188C2.77283 10.235 4.32562 8.625 6.23888 8.625H32.5809C34.4941 8.625 36.0469 10.235 36.0469 12.2188V28.0312C36.0469 30.015 34.4941 31.625 32.5809 31.625H6.23888C4.32562 31.625 2.77283 30.015 2.77283 28.0312V12.2188ZM6.23888 11.5C6.05503 11.5 5.87871 11.5757 5.74871 11.7105C5.6187 11.8453 5.54567 12.0281 5.54567 12.2188V14.375H6.93209C7.29979 14.375 7.65243 14.2235 7.91244 13.954C8.17244 13.6844 8.31851 13.3187 8.31851 12.9375V11.5H6.23888ZM5.54567 28.0312C5.54567 28.428 5.85623 28.75 6.23888 28.75H8.31851V27.3125C8.31851 26.9313 8.17244 26.5656 7.91244 26.296C7.65243 26.0264 7.29979 25.875 6.93209 25.875H5.54567V28.0312ZM11.0914 27.3125V28.75H27.7284V27.3125C27.7284 26.1688 28.1666 25.0719 28.9466 24.2631C29.7266 23.4544 30.7846 23 31.8877 23H33.2741V17.25H31.8877C30.7846 17.25 29.7266 16.7956 28.9466 15.9869C28.1666 15.1781 27.7284 14.0812 27.7284 12.9375V11.5H11.0914V12.9375C11.0914 14.0812 10.6531 15.1781 9.87313 15.9869C9.09312 16.7956 8.0352 17.25 6.93209 17.25H5.54567V23H6.93209C8.0352 23 9.09312 23.4544 9.87313 24.2631C10.6531 25.0719 11.0914 26.1688 11.0914 27.3125ZM30.5013 28.75H32.5809C32.7647 28.75 32.9411 28.6743 33.0711 28.5395C33.2011 28.4047 33.2741 28.2219 33.2741 28.0312V25.875H31.8877C31.52 25.875 31.1673 26.0264 30.9073 26.296C30.6473 26.5656 30.5013 26.9313 30.5013 27.3125V28.75ZM33.2741 14.375V12.2188C33.2741 12.0281 33.2011 11.8453 33.0711 11.7105C32.9411 11.5757 32.7647 11.5 32.5809 11.5H30.5013V12.9375C30.5013 13.3187 30.6473 13.6844 30.9073 13.954C31.1673 14.2235 31.52 14.375 31.8877 14.375H33.2741ZM12.4778 37.375C11.5994 37.3753 10.7435 37.0873 10.0326 36.5523C9.32183 36.0172 8.79264 35.2626 8.52093 34.3965C8.90635 34.4655 9.3001 34.5 9.70493 34.5H32.5809C34.2355 34.5 35.8224 33.8185 36.9925 32.6053C38.1625 31.3922 38.8198 29.7469 38.8198 28.0312V14.6194C39.6311 14.9168 40.3334 15.4677 40.83 16.1963C41.3266 16.9249 41.5931 17.7953 41.5926 18.6875V28.0312C41.5926 29.2583 41.3595 30.4733 40.9066 31.6069C40.4538 32.7406 39.79 33.7706 38.9531 34.6383C38.1163 35.5059 37.1229 36.1942 36.0295 36.6637C34.9362 37.1333 33.7643 37.375 32.5809 37.375H12.4778Z"/>
              </svg>
              
            <p>配送・送料について<span class="arrow">
              <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                </svg>
            </span></p>
          </a></li>
          <li><a href="/pages/faq#return">
            <svg class="icon_svg2" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.6695 3.5L3.5 9.408V24.5H24.5V9.408L19.3305 3.5H8.6695ZM8.27225 1.75H19.7277C19.8523 1.74991 19.9754 1.7764 20.0889 1.8277C20.2023 1.87901 20.3036 1.95394 20.3857 2.0475L26.033 8.50325C26.1726 8.66257 26.2498 8.86714 26.25 9.079V25.375C26.25 25.6071 26.1578 25.8296 25.9937 25.9937C25.8296 26.1578 25.6071 26.25 25.375 26.25H2.625C2.39294 26.25 2.17038 26.1578 2.00628 25.9937C1.84219 25.8296 1.75 25.6071 1.75 25.375V9.079C1.74982 8.86654 1.82695 8.66127 1.967 8.5015L7.6125 2.051C7.69456 1.95658 7.79592 1.88086 7.90973 1.82894C8.02354 1.77701 8.14716 1.7501 8.27225 1.75Z"/>
              <path d="M1.75 8.75H26.25V10.5H1.75V8.75Z"/>
              <path d="M12.25 8.96525V17.5H15.75V8.96525L14.385 3.5H13.615L12.25 8.96525ZM12.25 1.75H15.75L17.5 8.75V18.375C17.5 18.6071 17.4078 18.8296 17.2437 18.9937C17.0796 19.1578 16.8571 19.25 16.625 19.25H11.375C11.1429 19.25 10.9204 19.1578 10.7563 18.9937C10.5922 18.8296 10.5 18.6071 10.5 18.375V8.75L12.25 1.75Z"/>
              </svg>
            <p>返品・交換について<span class="arrow">
              <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
                </svg>
            </span></p>
          </a></li>
        </ul>
      </div>
      <div class="bg_img">
        <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/ft_bg.png" media="(min-width:600px)">
          <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/ft_bg_sp.png" alt=""></picture>
      </div>
    </section>
  </main>
  {% schema %}
    {
      "name": "top-main",
      "presets": [
        {
          "name": "top-main"
        }
      ]
    }
{% endschema %}